body {
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #79b4b7, #79b4b7);
    height: 100vh;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.card-block {
    height: 300px;
    background-color: #fff;
    border: none;
    background-position: center;
    background-size: cover;
    transition: all 0.2s ease-in-out !important;
    border-radius: 24px;
}

.card-1 {
    background-color: #4158d0;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #f8f0df;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}
.center h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
}
.center form {
    padding: 0 40px;
    box-sizing: border-box;
}
.desc {
    color: #f8f0df;
    background-color: #5c9497;
    border-radius: 5px;
}
.fade-in {
    opacity: 0;
    animation: fadein 1.5s ease-in forwards;
    margin-top: 280px;
}
form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.h1h {
    font-size: larger;
    font-family: "Dela Gothic One", cursive;
    color: #707070;
    padding-left: 50px;
    padding-top: 20px;
}
.header {
    background-color: #f8f0df;
    height: 95px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}
.tombol {
    text-align: center;
    z-index: 99;
    background-color: #f8f0df;
    width: 200px;
    height: 50px;
    margin-left: 455px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    transition: 0.6s;
    font-family: "Dela Gothic One", cursive;
    color: #707070;
}
.tombol:hover {
    background-color: #e3dac7;
    transition: 0.6s;
}
.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}
.txt_field span::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #707070;
    transition: 0.5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
    top: -5px;
    color: #707070;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
    width: 100%;
}
.pass {
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}
.pass:hover {
    text-decoration: underline;
}
input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #707070;
    border-radius: 25px;
    font-size: 18px;
    color: #f8f0df;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover {
    border-color: #707070;
    transition: 0.5s;
}
.signup_link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.signup_link a {
    color: #707070;
    text-decoration: none;
}
.signup_link a:hover {
    text-decoration: underline;
}

.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #f8f0df;
    z-index: 200;
    font-size: larger;
    font-family: "Dela Gothic One", cursive;
    color: #707070;
    text-align: center;
    line-height: 90vh;
}
.splash.display-none {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: -10;
    color: white;
    text-align: center;
    line-height: 90vh;
    transition: all 1s;
}
.scrolling-wrapper {
    overflow-x: auto;
}
.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.scrollmenu a:hover {
    background-color: #777;
}
.searchbar {
    text-align: left;
    position: -webkit-sticky;
    position: sticky;
    top: 120px;
    z-index: 99;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}
.searchbtn {
    text-align: right;
}
@keyframes fadein {
    to {
        opacity: 1;
    }
}
